	html {
		height: 100%;
	}

	body {
		font-family: "Arial";
		height: 100%;
		margin: 0px;
	}

	.header {
		background-color: #7f4cf3;
		position: fixed;
		top: 0px;
		width: 100%;
		height: 90px;
		font-size: 50px;
		z-index: 10;
	}

	.content {
		height: 200px;
		position: absolute;
		top: 60px;
		left: 15%;
		padding: 10px;
		z-index: 0;
	}

	.footer {
		background-color: #7f4cf3;
		position: fixed;
		bottom: 0px;
		height: 45px;
		width: 100%;
		z-index: 10;
		padding-bottom: 44px;
		padding-top: 44px;
	}
