/*    Layout	*/








/*    Styles	*/

.nav {


.article {

section {
  display: inline-block;
  margin: 0 1.5%;
  width: 30%;
}
	
.aside {


.footer {


/*	Links	*/



/*	Grid	*/

/* universal selector rule */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container group {
  margin: 0 auto;
  padding-left: 30 px;
  padding-right: 30 px;
  width: 960 px;
}

.container,
.grid {
  margin: 0 auto;
  width: 960 px;
}
.container {
  padding-left: 30 px;
  padding-right: 30 px;
}


/* establishing column layout - IN DEVELOPMENT */

.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
	
.col-1-3,
.col-2-3 {
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
	
	
	
/*     Typography Status: Final Testing	*/


.h1, h3, h4, h5, p {
  margin-bottom: 22 px;
}

.h1 {
  font-family: “Helvetica Neue”, “Helvetica”, “Lucida Sans” sans-serif;
  font-size: 48 px;
  font-weight: 900;
  line-height:150%;
  text-align: left;
  color: #7f4cf3;
}	
	
.h2 {
  font-family: “Helvetica Neue”, “Helvetica”, “Lucida Sans” sans-serif;
  font-size: 34 px;
  font-weight: 700;
  line-height:150%;
  text-align: left;
  color: #000000;
}
	
.h3 {
  font-family: “Helvetica Neue”, “Helvetica”, “Lucida Sans” sans-serif;
  font-size: 64 px;
  font-weight: 600;
  line-height:150%;
  text-align: left;
  color: #000000;
}	
	
.h4 {
  font-family: “Helvetica Neue”, “Helvetica”, “Lucida Sans” sans-serif;
  font-size: 52 px;
  font-weight: 600;
  line-height:150%;
  text-align: left;
  color: #000000;
}
	
.h5 {
  font-family: “Helvetica Neue”, “Helvetica”, “Lucida Sans” sans-serif;
  font-size: 48 px;
  font-variant: small-caps;
  font-weight: 500;
  line-height:150%;
  text-align: left;
  color: #000000;
}	
	
.h6 {
  font-family: “Helvetica Neue”, “Helvetica”, “Lucida Sans” sans-serif;
  font-size: 42 px;
  font-variant: small-caps;
  font-weight: 400;
  line-height:150%;
  text-align: left;
  color: #000000;
}	
	
.body {
  font-family: “Helvetica Neue”, “Helvetica”, “Lucida Sans” sans-serif;
  font-size: 36 px;
  font-weight: normal;
  line-height:150%;
  text-align: left;
  color: #000000;
} 
	
/*	Home	*/

.div {
  border: 6px solid #949599;
  height: 100px;
  margin: 20px;
  padding: 20px;
  width: 400px;
  display: none;
}

.hero {
  padding: 22px 80px 66px 80px;
}

	ol, ul {
	list-style: none;
}

.blockquote, q {
	quotes: none;
}

.blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*	Clearfix	*/

*/
.group:before,
.group:after {
  content: "";
  display: table;
}
	
.group:after {
  clear: both;
}
	
.group {
  clear: both;
  *zoom: 1;
}
	
/*	Primary Header	*/
	
.header {
  border-top: 4px solid #648880;
  padding: 40px 0 22px 0;
  float: left;
  class="container group";
}

/*	Primary Header	*/
	
.primary-footer small {
  float: left;
}

.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
}
